#files
/npm-debug.log
/package-lock.json
client/base.html.twig
client/index.html
client/navbar.html
client/index.js
#directories
node_modules/
.git/
.meteor/
contact/
index/
location/
overview/
public/
staff/